@import url("variables.css");
@import url("common-class.css");
@import url("responsive/responsive.css");
@import url("fonts.css");

body {
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 64px 0 24px 0;
    max-width: calc(100% - 480px);
    margin: 0 auto;
    column-gap: 112px;
}

/* Save info section */
.save-info{
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.save-info input{
    width: 22px;
    height: 22px;
    border-radius: 4px;
    border-color: #828282;
    margin: 0;
}

.save-info label{
    font-size: 12px;
    line-height: 15px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
}

/* Continue  Btn section*/
.continue-btn{
    margin-top: 23px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.continue-btn button{
    grid-column: 9 / -1;
    padding: 17px 45px;
    background: var(--button-bg);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: unset;
    border-radius: 12px;
}
/* footer section */
footer{
    
}

